.hello {
	background-color: indigo;
	color: turquoise;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Helvetica Neue;
  }
  
  .thinker-container {
	position: relative;
	top: 10px;
  }
  
  .thinker {
	position: absolute;
  }
  
  .hat {
	position: absolute;
	left: 120px;
	top: -10px;
  }
  